/* CSS Padding and Margins */
img{
    max-width: 100%;
    height: auto;
    padding: 5px;
    opacity: .8;
    margin-bottom: 60px;
}
.borderImg{
    border: 10px;
    width: 200px;
    height: 200px;
    border: 2px solid green;
    padding: 5px;
}
button{
    display: block;
    color: white;
    background-color: Green;
    border: none;
    border-radius: 50px;
    font-size: 25px;
    padding: 10px;
}