/* Responsive Image */
img{
    max-width: 100%;
    height: auto;
    padding: 5px;
    display: block;
    margin: auto;
}
.borderImg{
    border-radius: 10px;
    width: 500px;
    height: 300px;
    border: 2px solid green;
    padding: 5px;
    opacity: .8;
}
