       /* Defaults */
       nav, header, footer {
        display: block;
    }

    body {
        line-height: 1;
        margin: 0;
    }

    /* Nav Bar */

    nav {
        width: 100%;
        margin: 0;
    }

    nav ul {
        background-color: #eee;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .topnav li {
        list-style: none;
        float: left;
    }

    ul.topnav li.topnav-right {
        float: right;
    }

    ul.topnav li a {
        display: block;
        text-decoration: none;
        min-height: 16px;
        text-align: center;
        padding: 14px;
        text-transform: uppercase;
        color: darkgray;
    }

    ul.topnav li a:hover {
        background-color: #0080ff;
        color: white;
    }

    /* Responsive Nav */

    .topnav .dropdownIcon {
        display: none;
    }

    @media screen and (max-width: 680px) {
        .topnav li:not(:nth-child(1)) {
            display: none;
        }

        ul.topnav .dropdownIcon {
            display: block;
            float: right;
        }

        ul.topnav.responsive li.dropdownIcon {
            position: absolute;
            top: 0;
            right: 0;
        }

        ul.topnav.responsive {
            position: relative;
        }

        ul.topnav.responsive li {
            display: block;
            float: none;
        }

        ul.topnav.responsive li a {
            display: block;
            text-align: left; 
        }
    }