       /* Defaults */
       nav, header, footer {
        display: block;
    }

    body {
        line-height: 1;
        margin: 0;
    }

    /* Nav Bar */

    nav {
        width: 100%;
        margin: 0;
    }

    nav ul {
        background-color: #eee;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .topnav li {
        list-style: none;
        float: left;
    }

    ul.topnav li.topnav-right {
        float: right;
    }

    ul.topnav li a {
        display: block;
        text-decoration: none;
        min-height: 16px;
        text-align: center;
        padding: 14px;
        text-transform: uppercase;
        color: darkgray;
    }

    ul.topnav li a:hover {
        background-color: #0080ff;
        color: white;
    }
    .row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .row::after{
        display: table;
        clear: both;
        content: "";
    }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
*{
    box-sizing: border-box;
}
h1.large{
    color: white;
    font-size: 55px;
    margin: 0;
    line-height: 60px;
}
.section2Header{
    font-size: 65px;
    text-align: center;
}
input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width:100px;
    padding: 5px;
}
input[type="password"]{
    font-size: 20px;
    width: 400px;
    min-width:100px;
    padding: 5px;
}
form h2 {
    color: white;
}
    /* Responsive Nav */

    .topnav .dropdownIcon {
        display: none;
    }

    @media screen and (max-width: 680px) {
        .topnav li:not(:nth-child(1)) {
            display: none;
        }

        ul.topnav .dropdownIcon {
            display: block;
            float: right;
        }

        ul.topnav.responsive li.dropdownIcon {
            position: absolute;
            top: 0;
            right: 0;
        }

        ul.topnav.responsive {
            position: relative;
        }

        ul.topnav.responsive li {
            display: block;
            float: none;
        }

        ul.topnav.responsive li a {
            display: block;
            text-align: left; 
        }
        div.box{
            padding: 5px;
            display: block;
        }
        .col-6,.col-4,.col-5,.col-7{
            width: 100%;
        }
        .mobilestack{
            width: 50%;
            display: block;
        }
        .bannerRight{
            margin-top: 10%;
        }
        input[type="text"]{
            width: 200px;
        }
        input[type="password"]{
            width: 200px;
        }
        .videoContainer iframe{
            position: absolute;
            width: 100%;
            margin: 0;
            overflow: hidden;
        }
        .section2Header{
            font-size: 41px;
        }

    }

/*  Banner */
.container{
    width: 100%;
    margin: auto;
    padding-top: 4%;
    padding-bottom: 4%;
}
#section-1-gradient{
    background: -webkit-linear-gradient(top, yellow, green);

}
.bannerleft{
    margin-left: 10%;
}
.bannerRight{
    margin-left: 10%;
}
/* Images to be displayed */
div.box{
    background-color: white;
    margin: 24px;
    border-radius: 7px;
    padding: 36px 24px 40px 24px;
    border: 2px solid Green;
    box-shadow: 10 0 0 1px rgba(green, yellow, green, 0.15),
    0 2px 3px 0 rgba(yellow, green, blue, .1);
    text-align: center;
}
div.icon{
    width: 100%;
}
label{
    font-size: 35px;
    font-weight:600;
}
p{
    font-size: 19px;
    line-height: 1.2;
}
.learMore{
    font-size: 31px;
    font-weight: 900;
    color: white;
    background-color: green;
    border-radius: 7px;
    padding: 5px 60px;
    border: none;
    display: block;
    margin: auto;
}
/* Text and image side by side */
article p{
    font-size: 28px;
    padding: 20px;
}
.mobile{
    display: block;
    margin: auto;
    box-shadow: -2px  -2px 5px 2px rgb(0, 0, 0, .15),
    2px 2px 3px 2px;
    border-radius: 7px;

}
.mobile img{
    padding: 20px;
    width: 100%;
}
/* Footer */
.footer{
    background: -webkit-linear-gradient(top, yellow, green);
    padding-left: 10%;
}
.footer h1{
    color: white;
    text-align: left;
}
.footer ul{
    list-style:none;
    text-align: left;
    padding-left: 0;
}
.footer li{
    color: white;
    font-size: 22px;
    line-height: 1.5;
}