       /* Defaults */
       nav, header, footer {
        display: block;
    }

    body {
        line-height: 1;
        margin: 0;
    }

    /* Nav Bar */

    nav {
        width: 100%;
        margin: 0;
    }

    nav ul {
        background-color: #eee;
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    .topnav li {
        list-style: none;
        float: left;
    }

    ul.topnav li.topnav-right {
        float: right;
    }

    ul.topnav li a {
        display: block;
        text-decoration: none;
        min-height: 16px;
        text-align: center;
        padding: 14px;
        text-transform: uppercase;
        color: darkgray;
    }

    ul.topnav li a:hover {
        background-color: #0080ff;
        color: white;
    }
    .row{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
    .row::after{
        display: table;
        clear: both;
        content: "";
    }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

h1.large{
    color: white;
    font-size: 55px;
    margin: 0;
    line-height: 60px;
}
.section2Header{
    font-size: 65px;
    text-align: center;
}
input[type="text"]{
    font-size: 20px;
    width: 400px;
    min-width:100px;
    padding: 5px;
}
input[type="password"]{
    font-size: 20px;
    width: 400px;
    min-width:100px;
    padding: 5px;
}
form h2 {
    color: white;
}
    /* Responsive Nav */

    .topnav .dropdownIcon {
        display: none;
    }

    @media screen and (max-width: 680px) {
        .topnav li:not(:nth-child(1)) {
            display: none;
        }

        ul.topnav .dropdownIcon {
            display: block;
            float: right;
        }

        ul.topnav.responsive li.dropdownIcon {
            position: absolute;
            top: 0;
            right: 0;
        }

        ul.topnav.responsive {
            position: relative;
        }

        ul.topnav.responsive li {
            display: block;
            float: none;
        }

        ul.topnav.responsive li a {
            display: block;
            text-align: left; 
        }
        .col-6{
            width: 100%;
        }
        .bannerRight{
            margin-top: 10%;
        }
        input[type="text"]{
            width: 200px;
        }
        input[type="password"]{
            width: 200px;
        }
        .videoContainer iframe{
            position: relative;
            width: 100%;
            margin: 0;
            overflow: hidden;
        }
    }

    /*  Banner */
    .container{
        width: 100%;
        margin: auto;
        padding-top: 4%;
        padding-bottom: 4%;
    }
#section-1-gradient{
    background: -webkit-linear-gradient(top, yellow, green);

}
.bannerleft{
    margin-left: 10%;
}
.bannerRight{
    margin-left: 10%;
}
/* Images to be displayed */
