body {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  padding: 0 30px;
  color: #FF6720;
  font-size: 35px;
}

p {
  padding: 0 30px;
  color: #fff;
}

.p-video {
  padding: 0;
}

.row {
  display: flex;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media screen and (max-width: 680px) {
  .col-1 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
  .col-3 {
    width: 100%;
  }
  .col-4 {
    width: 100%;
  }
  .col-5 {
    width: 100%;
  }
  .col-6 {
    width: 100%;
  }
  .col-7 {
    width: 100%;
  }
  .col-8 {
    width: 100%;
  }
  .col-9 {
    width: 100%;
  }
  .col-10 {
    width: 100%;
  }
  .col-11 {
    width: 100%;
  }
  .col-12 {
    width: 100%;
  }
}
@media screen and (max-width: 980px) {
  .col-4 {
    width: 33.33%;
  }
  .col-12 {
    width: 100%;
  }
  .col-2 {
    width: 100%;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.banner-container {
  padding: 40px 0;
  background-color: #000;
  color: #fff;
}

.threeimg {
  background-color: #FF6720;
}

.sideimage {
  background-color: #000;
}

.btn-learn {
  width: 100px;
  color: #FF6720;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 8px;
  padding-right: 10px;
  line-height: 20px;
  transition: all, 0.4s ease-in-out;
  margin: 0 30px;
}

.btn-video {
  width: 150px;
  color: #fff;
  background: #FF6720;
  border-color: #FF6720;
  border-style: none;
  border-radius: 40px;
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 8px;
  padding-right: 10px;
  line-height: 20px;
  transition: all, 0.4s ease-in-out;
}

.btn-video.btn-video {
  margin: 0 30px;
}

.nav-header {
  padding: 0 0 10px;
  background-color: #fff;
}
.nav-header .container {
  padding: 10px 15px 0;
  margin-right: auto;
  margin-left: auto;
}
.nav-header img {
  margin: auto;
}

.nav-menu {
  float: right;
  margin: 5px 0 0;
}
.nav-menu .nav-menu-list {
  font-size: 35px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-menu .nav-menu-list .nav-items {
  display: inline-block;
  vertical-align: top;
}
.nav-menu .nav-menu-list .nav-items .nav-a {
  display: inline;
  padding: 10px 10px;
  text-decoration: none;
  color: #000;
  border: 1px solid transparent;
  text-transform: uppercase;
}
.nav-menu .nav-menu-list .nav-items .nav-a:hover {
  color: green;
}

@media screen and (max-width: 680px) {
  .nav-menu {
    float: left;
    font-size: 10px;
  }
}
.img {
  padding: 10px;
  height: 450px;
  width: 300px;
  box-shadow: 0 0 15px #FF6720;
  margin: 30px;
}
.img:hover {
  background: #b93b00;
}

.col-4.imagesrow {
  display: flex;
  justify-content: center;
  margin: 4px 0;
  height: 100px;
}

.col-2.sideimage img {
  margin: 10px 30px;
}/*# sourceMappingURL=app.css.map */